<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
		/>
		<title><%= title %></title>
		<%- include('head') %>
	</head>

	<body
		id="page-top"
		data-bs-spy="scroll"
		data-bs-target="#mainNav"
		data-bs-offset="54"
		style="background: rgb(47, 54, 58)"
	>
		<nav
			class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark"
			id="mainNav"
			style="background: rgb(47, 54, 58)"
		>
			<div class="container">
				<a class="navbar-brand" href="index">Road.On</a>
				<button
					data-bs-toggle="collapse"
					data-bs-target="#navbarResponsive"
					class="navbar-toggler navbar-toggler-right"
					type="button"
					aria-controls="navbarResponsive"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<i class="fa fa-bars"></i>
				</button>
				<div
					class="collapse navbar-collapse"
					id="navbarResponsive"
					style="padding-right: 12px"
				>
					<ul class="navbar-nav ms-auto text-uppercase">
						<li class="nav-item"></li>
						
						<li class="nav-item">
							<a class="nav-link active" href="#page-top">Agendados</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="destinos">Destinos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="dashboard">Dashboard</a>
						</li>
						<li class="nav-item">
							<a
								class="nav-link"
								href="registrar-turista"
								style="margin-right: 28px"								
							>
								incluir turistas
							</a>
						</li>
						
					</ul>
					<button
						class="btn btn-primary text-uppercase"
						type="button"
						style="color: rgb(0, 0, 0); width: 97.4844px; height: 45px"
						onclick="window.location.href = '/logout'"
					>
						Sair
					</button>
				</div>
			</div>
		</nav>
		<div class="container">
			<section
				class="register-photo"
				style="
					background: rgb(47, 54, 58);
					margin-bottom: 5px;
					margin-top: 30px;
					padding-bottom: 50px;
				"
			>
				<h1
					class="text-capitalize"
					style="
						text-align: center;
						padding: 40px;
						color: rgb(254, 209, 54);
						padding-top: 55px;
						margin-bottom: -35px;
						font-family: 'Kaushan Script', serif;
					"
				>
					Excursões agendadas
				</h1>
				<div
					class="form-container"
					style="
						border-radius: 30px;
						box-shadow: 3px 6px 20px rgba(0, 0, 0, 0.4);
						background: #343a40;
						margin-top: 60px;
						margin-bottom: 10px;
						padding: 40px;
					"
				>
					<div class="wrapper">
						<% model.forEach(function(model) { %>
						<div
							class="card"
							style="
								border-top-left-radius: 20px;
								border-top-right-radius: 20px;
								border-bottom-right-radius: 20px;
								border-bottom-left-radius: 20px;
								box-shadow: 2px 2px 16px 8px rgba(0, 0, 0, 0.1);
								border-style: none;
								background: var(--bs-gray);
							"
						>
						<div style="border-top-left-radius: 20px;border-top-right-radius: 20px;position: relative;height: 40px;background: #fed136;">
								<div
									class="
										d-flex
										flex-row
										justify-content-center
										align-items-center
									"
									style="
										border-radius: 39px;
										width: 60px;
										height: 60px;
										position: absolute;
										bottom: -31px;
										right: 20px;
									"
								>
									<button
										class="btn btn-primary"
										data-bss-hover-animate="pulse"
										type="button"
										style="
											border-style: none;
											background: #b86868;
											border-radius: 39px;
											box-shadow: 2px 2px 20px -1px #757575;
											height: 43px;
										"
										onclick="window.location.href = 'turistas?excursao=<%= model.id_excursao %>'"
										
									>
										<i
											class="far fa-user"
											style="color: rgb(255, 255, 255); font-size: 20px"
										></i>
									</button>
									<button
										class="btn btn-primary"
										data-bss-hover-animate="pulse"
										type="button"
										style="
											border-style: none;
											background: #b86868;
											height: 44px;
											border-radius: 39px;
											box-shadow: 2px 2px 20px -1px #757575;
											margin: 10px;
										"
										onclick="window.location.href = 'consulta-agendamento?excursao=<%= model.id_excursao %>'"
									>
										<i
											class="fas fa-info-circle"
											style="color: rgb(255, 255, 255); font-size: 20px"
										></i>
									</button>
								</div>
							</div>
							<div
								class="card-body d-flex flex-column justify-content-between"
								style="
									padding-bottom: 20px;
									color: var(--bs-indigo);
									border-color: var(--bs-purple);
									background: var(--bs-gray);
									border-radius: 20px;
									margin-top: 30px;
								"
							>
								<div>
									<h4
										style="
											color: rgb(254, 209, 54);
											text-align: center;
											margin-bottom: 30px;
											font-weight: bold;
										"
									>
									<%= model.nome_destino %>	
									</h4>
									<p
										style="
											font-family: 'Source Sans Pro', sans-serif;
											color: #212121;
											font-weight: bold;
										"
									>
										Data de Ida:<br/> <%= moment(model.data_saida_excursao).format('LLLL') %><br/><br/>
										Data de Volta:<br/> <%= moment(model.data_volta_excursao).format('LLLL') %>	

										<br /><br />										
								</div>
								<a
									class="
										btn btn-primary
										d-flex d-xl-flex
										justify-content-center
										align-items-center
										justify-content-xl-center
										align-items-xl-center
										w-100
									"
									role="button"
									data-bss-hover-animate="pulse"
									style="
										background: rgb(254, 209, 54);
										color: rgb(0, 0, 0);
										border-radius: 15px;
										padding-bottom: 14px;
									"
									href='/reagendar?excursao=<%= model.id_excursao %>'
								>
									Reagendar
								</a>
							</div>
						</div>
						<% }) %>					
						
				</div>
	
			</section>
		</div>
		<%- include('footer') %>
				
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/js/agency.js"></script>


		<script>
			'<% if(success) { %>'
                Swal.fire({
                    icon: 'success',
                    title: '<%= message %>',
                    confirmButtonColor: 'rgb(254, 209, 54)',
                })
			'<%}%>'

			'<% if(deleted) { %>'
                Swal.fire({
                    icon: 'success',
                    title: '<%= message %>',
                    confirmButtonColor: 'rgb(254, 209, 54)',
                })
			'<%}%>'
		</script>
	</body>
</html>
